$main-color: #ffffff;
$soft-color: #bfbfbf;
$main-blue-lighter: #ECF7F7;
$bottom-color: #2b2b2b;
$main-blue: #00ACAC;
$icon-color: #ADADAD;
$bottom-bg: #2B2B2B;
$social-color: #3E7ED6;
$input-border: darken($main-blue-lighter, 20%);
$button-shadow: #3BA639;
$gray-text: #686a6a;
$form-color: #ecf7f7;
