$main-color: #ffffff;
$soft-color: #E2E2E2;
$main-blue-lighter: #ECF7F7;
$bottom-color: #4D4D4D;
$main-blue: #00ACAC;
$icon-color: #ADADAD;
$bottom-bg: #2B2B2B;
$social-active-bg: #3E7ED6;
$input-border: darken($main-blue-lighter, 20%);
$button-shadow: #3BA639;
$gray-text: #686a6a;
$form-color: #ecf7f7;