@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import 'variables';
@import 'mixins';
body {
	width: 100%;
	background-color: $main-color;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

heder {
	position: relative;
	.header__logo {
		margin: 20px 0 0 5px;
	}
	.header__language {
		border: none;
		margin: 25px 0 0 0;
		.btn {
			border: none;
			font-weight: 700;
			color: $gray-text;
			span {
				margin-left: 10px;
				color: $main-blue;
			}
		}
	}
	.navbar-toggle {
		font-size: 2.3em;
		color: $main-blue;
		margin: 10px 10px -10px 0;
	}
}