$main-blue: #00ACAC;
$main-blue-lighter: #ECF7F7;
$bottom-bg: #2B2B2B;
$bottom-color: #4D4D4D;
$icon-color: #ADADAD;
$soft-color: #E2E2E2;
$social-active-bg: #3E7ED6;
$input-border: darken(@main-blue-lighter, 20%);
$button-shadow: #3BA639;
